
<div class="restaurant-content">

  <h1>
    <%= @restaurant.name %>
  </h1>

  <p>
    <%= @restaurant.address %>
  </p>
  <p>
    <%= @restaurant.phone_number %>
  </p>
  <p>
    <%= @restaurant.category %>
  </p>


  <p> Reviews
    <ul>
      <% @restaurant.reviews.each do |review| %>
        <li> <%= review.content %></li>
      <% end %>
    </ul>
  </p>


  <%= link_to 'Back', restaurants_path %>



